
.header{
    display: flex;
    padding: 1rem;
    gap: 5rem;
    width: 100%;
    justify-content: center;
    background-color: hsla(230, 8%, 85%, 0.671);
    align-items: center;
    position: fixed;
}
.logo{
    border-radius: 100%;
    width: 8rem;
}
.headerSearchInput{
    width: 50rem;
    padding: 1.5rem;
    border-radius: 50px;
}
