.herocard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    margin-left: 10rem;
    background-color: aliceblue;
    padding: 2rem;
}
img{
background-repeat: no-repeat;
}
